<div class="row mb-5">
    <div class="col text-center text-white bg-danger h5">
        <span>{{"TEXT.PLAYER_ONE" | translate}}</span>
        <br/>
        <span>{{ player1 }} ({{"SYMBOL.O" | translate}})</span>
    </div>
    <div class="col text-center text-white bg-primary h5">
        <span>{{"TEXT.PLAYER_TWO" | translate}}</span>
        <br/>
        <span>{{ player2 }} ({{"SYMBOL.X" | translate}})</span>
    </div>
</div>
<div class="row justify-content-center">
    <h1 class="text-center">{{"TEXT.TIC_TAC_TOE" | translate}}</h1>
</div>
<div class="row justify-content-center">
    <div class="col-xl-4">
    <table class="table table-bordered">
        <tbody class="text-center">
            <tr>
                <td class="align-middle h1 font-weight-bold height-200 width-33" *ngFor="let firstCol of row1; let i = index"
                    (click)="checkStatus(1, i)">
                    {{ firstCol }}
                </td>
            </tr>
            <tr>
                <td class="align-middle h1 font-weight-bold height-200 width-33" *ngFor="let secondCol of row2; let i = index"
                    (click)="checkStatus(2, i)">
                    {{ secondCol }}
                </td>
            </tr>
            <tr>
                <td class="align-middle h1 font-weight-bold height-200 width-33" *ngFor="let thirdCol of row3; let i = index"
                    (click)="checkStatus(3, i)">
                    {{ thirdCol }}
                </td>
            </tr>
        </tbody>
    </table></div>
</div>
<div class="row justify-content-center mt-5">
    <button class="btn btn-warning text-white mr-2" (click)="retry()" [disabled]="!hasWinner && !draw">{{"TEXT.RETRY" | translate}}</button>
    <button class="btn btn-primary" [routerLink]="['/menu']">{{"TEXT.BACK" | translate}}</button>
</div>
